<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <h1>Hola papus</h1>
    <h2>Bienvenidos a mi página de nodejs y express</h2>

    <%- include('partials/footer.ejs') %>
</body>
</html>